.div-hamburger2 {
    display: grid;
    justify-items: end;

}

.nav-header-container2 {
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 1px solid var(--cor-secundaria);

    border-radius: 0px 10px 0px;
    transition: transform 0.4s ease;
    z-index: 2000;
}


.nav-header2 {
    background-color: transparent;
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 200px;
    height: 200px;
    z-index: 2000;
}

.nav-header2 a {
    margin: auto;
    text-decoration: none;
    font-family: var(--font-title);

    color: var(--cor-secundaria);
    transition: letter-spacing 0.5s ease;
    padding-left: 12px;

    z-index: 2000;
    font-weight: 800;
}

.nav-header2 a:hover {
    letter-spacing: 0.8em;
    z-index: 2000;
}