.container-principal {
    width: 100%;
    display: grid;
    grid-template-rows: 780px auto auto auto 700px;
    
    
    gap: 100px;
}

@media (max-width: 590px) {
    .container-principal {
        
    }
}